h3 Books List
form(action="/books/add", method="POST")
  label Title
  input(type="text",name='title')
  label Description 
  input(type="text",name='des')
  button Add
  
p Books list:
ul
  each book in books
    li
      span= book.title
      span &nbsp
      a(href="/books/info/" + book.id) More...
      
a(href="/") Home...