h3 Users List
form(action="/users/add", method="POST")
  label Name
  input(type="text",name='name')
  label Age 
  input(type="text",name='age')
  button Add
  
p Users list:
ul
  each user in users
    li
      span= user.name
      span &nbsp
      a(href="/users/info/" + user.id) More...
      
a(href="/") Home...